In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder
import pickle
from sklearn.model_selection import train_test_split

In [17]:
from tensorflow.keras.models import load_model
import tensorflow as tf
# Load the model from a .h5 file
model = tf.keras.models.load_model('model.keras')


#load the encoders and scaler
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [18]:
input_data = {
    "CreditScore": 376,
    "Geography": "Germany",
    "Gender": "Female",
    "Age": 29,
    "Tenure": 4,
    "Balance": 115046.74,
    "NumOfProducts": 4,
    "HasCrCard": 1,
    "IsActiveMember": 0,
    "EstimatedSalary": 119346.88
}

In [19]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]])
df=pd.DataFrame(geo_encoded.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

d:\ANN\env\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [20]:
input_df=pd.DataFrame([input_data])

In [21]:
#change the gender
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,376,Germany,0,29,4,115046.74,4,1,0,119346.88

In [22]:
input_df.drop('Geography',axis=1,inplace=True)

In [23]:
df=pd.concat([input_df,df],axis=1)

In [24]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,376,0,29,4,115046.74,4,1,0,119346.88,0.0,1.0,0.0

In [25]:
input_scaled=scaler.transform(df)

In [26]:
#predict the output
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 378ms/step

In [27]:
print(prediction[0][0])
if prediction[0][0]>0.5:
    print("the customer is likely to churn.")
else:
    print("the customer is not likely to churn")

0.9995102
the customer is likely to churn.

In [28]:
import tensorflow as tf
print(tf.__version__)

2.19.0